<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Teacher</title>
</head>
<body>
    <h3>Enter following details</h3>
    <form method="POST" action="/newTeacher">
        <label for="name">Name : </label>
        <textarea id="name" name="name" placeholder="enter name"></textarea>
        <br> <br>
        <label for="branch">Branch : </label>
        <textarea id="branch" name="branch" placeholder="enter branch"></textarea>
        <br> <br>
        <label for="classesAlloted">ClassesAlloted : </label>
        <textarea id="classesAlloted" name="classesAlloted" placeholder="enter classes allocated"></textarea>
        <br> <br>
        <label for="phone">Phone : </label>
        <textarea id="phone" name="phone" placeholder="enter mob-no"></textarea>
        <br> <br>
        <label for="subjects">Subjects : </label>
        <textarea id="subjects" name="subjects" placeholder="enter subjects allocated"></textarea>
        <br> <br>
        <label for="createdAt">CreatedAt : </label>
        <textarea id="createdAt" name="createdAt" placeholder="enter date"></textarea>
        <br> <br>
        <label for=" passingYear">PassingYear : </label>
        <textarea id="passingYear" name="passingYear" placeholder="enter GraduationYear"></textarea>
        <br> <br>
        <button>Add</button>
    </form>
</body>
</html>